*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

canvas {
    display: block;
}

button,
input,
textarea,
select {
    font: inherit;
}
